.yoq {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.noo {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

/* Delete tugmasi */
.delete-btn {
    background-color: #ff4d4f;
    /* qizil rang */
    color: white;
    border: none;
    border-radius: 8px;
    padding: 6px 12px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}
.delete-btn:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}